.path-mod-workshep .collapsibleregion {
    margin-bottom: 0.75em;
}

.path-mod-workshep .collapsibleregioncaption {
    font-weight: bold;
    font-size: 120%;
}

.path-mod-workshep div.singlebutton {
    text-align: center;
    margin: 0.75em auto;
}

.path-mod-workshep #workshep-viewlet-assignedassessments div.singlebutton,
.path-mod-workshep #workshep-viewlet-allexamples div.singlebutton,
.path-mod-workshep #workshep-viewlet-examples div.singlebutton {
    text-align: left;
}

.path-mod-workshep .groupwidget {
    text-align:center;
    margin: 0.75em auto;
}

.path-mod-workshep .perpagewidget {
    text-align:center;
    margin: 0.75em auto;
}

/**
 * Submission - one line summary display
 */
.path-mod-workshep .submission-summary {
    position: relative;
    margin-bottom: 10px;
}

.path-mod-workshep .submission-summary .title,
.path-mod-workshep .submission-summary .author,
.path-mod-workshep .submission-summary .author .fullname,
.path-mod-workshep .submission-summary .author .picture {
    display: inline;
}

.path-mod-workshep .submission-summary .title,
.path-mod-workshep .submission-summary .userdate,
.path-mod-workshep .submission-summary .grade-status {
    margin: 0px 0px 0px 40px;
}

.path-mod-workshep .submission-summary .author {
    margin-left: 1ex;
}

.path-mod-workshep .submission-summary.anonymous .title,
.path-mod-workshep .submission-summary.anonymous .author,
.path-mod-workshep .submission-summary.anonymous .userdate,
.path-mod-workshep .submission-summary.anonymous .grade-status {
    margin: 0px 0px 0px 5px;
}

.path-mod-workshep .submission-summary .userdate {
    font-size: x-small;
    color: #333;
}

.path-mod-workshep .submission-summary .userdate span {
    font-style: italic;
}

.path-mod-workshep .submission-summary .author .picture {
    position: absolute;
    top: 0px;
    left: 0px;
}

/**
 * Submission - full display
 */
.path-mod-workshep .submission-full {
    border: 1px solid #ddd;
    margin: 0px 0px 1em 0px;
}

.path-mod-workshep .submission-full .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 67px;
}

.path-mod-workshep .submission-full .header .title,
.path-mod-workshep .submission-full .header .author,
.path-mod-workshep .submission-full .header .userdate {
    margin: 0px 0px 0px 80px;
}

.path-mod-workshep .submission-full.anonymous .header .title,
.path-mod-workshep .submission-full.anonymous .header .author,
.path-mod-workshep .submission-full.anonymous .header .userdate {
    margin: 0px 0px 0px 5px;
}

.path-mod-workshep .submission-full .header .userdate.created {
    padding-right: 10px;
}

.path-mod-workshep .submission-full .header .userdate.modified {
    padding-left: 10px;
    margin-left: 0px;
    border-left: 1px solid #000;
}

.path-mod-workshep .submission-full .header .userdate {
    font-size: x-small;
    color: #333;
    display: inline;
}

.path-mod-workshep .submission-full .header .userdate span {
    font-style: italic;
}

.path-mod-workshep .submission-full .header .author .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}

.path-mod-workshep .submission-full .content,
.path-mod-workshep .submission-full .attachments,
.path-mod-workshep .submission-full .wordcount {
    padding: 5px 10px;
}

.path-mod-workshep .submission-full .wordcount {
  font-style: italic; 
  color: #BBB;
}

.path-mod-workshep .submission-full .attachments .files img.icon {
    margin-right: 5px;
}

.path-mod-workshep .submission-full .attachments .images div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

/**
 * Example submission - summary display
 */
.path-mod-workshep .submission-summary.example .title,
.path-mod-workshep .submission-summary.example .userdate {
    margin: 0px 0px 0px 0px;
}

/**
 * Example submission - full display
 */
.path-mod-workshep .submission-full.example .header {
    min-height: 0px;
}

.path-mod-workshep .submission-full.example .header .title {
    margin: 0px 0px 0px 0px;
}

/**
 * Elements generated by the workshep renderer
 */
.path-mod-workshep .message {
    padding: 5px 5em 5px 15px;
    margin: 0px auto 20px auto;
    width: 100%;
    font-size: 80%;
    position: relative;
}

.path-mod-workshep .message .singlebutton {
    text-align: left;
    margin: 0px;
}

.path-mod-workshep .message.ok {
    color: #547c22;
    background-color: #e7f1c3;
}

.path-mod-workshep .message.error {
    color: #dd0221;
    background-color: #ffd3d9;
}

.path-mod-workshep .message.info {
    color: #1666a9;
    background-color: #d2ebff;
}

/**
 * Allocators
 */

.path-mod-workshep .allocation-init-results {
    margin: 10px auto;
    width: 100%;
    font-size: 80%;
}

.path-mod-workshep .allocation-init-results .indent {
    margin-left: 20px;
}

.path-mod-workshep .allocation-init-results .ok {
    color: #547c22;
    background-color: #e7f1c3;
}

.path-mod-workshep .allocation-init-results .error {
    color: #dd0221;
    background-color: #ffd3d9;
}

.path-mod-workshep .allocation-init-results .info {
    color: #1666a9;
    background-color: #d2ebff;
}

.path-mod-workshep .allocation-init-results .debug {
    color: black;
    background-color: #ddd;
    display: none;
}

/**
 * User plan
 */
.path-mod-workshep .userplan {
    width: 100%;
    margin: 1em auto 1em auto;
    font-size: 80%;
    border: 1px solid #ddd;
}

.path-mod-workshep .userplan th {
    vertical-align: bottom;
    white-space: normal;
    color: #999;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.path-mod-workshep .userplan th.active {
    vertical-align: top;
    color: black;
    font-size: 140%;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #e7f1c3;
}

.path-mod-workshep .userplan td {
    width: 20%;
    vertical-align: top;
    border-right: 1px solid #ddd;
    background-color: #f5f5f5;
}

.path-mod-workshep .userplan td,
.path-mod-workshep .userplan td a,
.path-mod-workshep .userplan td a:link,
.path-mod-workshep .userplan td a:hover,
.path-mod-workshep .userplan td a:visited,
.path-mod-workshep .userplan td a:active {
    color: #999;
}

.path-mod-workshep .userplan td.active,
.path-mod-workshep .userplan td.active a,
.path-mod-workshep .userplan td.active a:link,
.path-mod-workshep .userplan td.active a:hover,
.path-mod-workshep .userplan td.active a:visited,
.path-mod-workshep .userplan td.active a:active {
    color: black;
}

.path-mod-workshep .userplan td.lastcol {
    border-right: 0;
}

.path-mod-workshep .userplan td.active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #e7f1c3;
}

.path-mod-workshep .userplan th .actions {
    display: inline;
}
.path-mod-workshep .userplan tr.phasetasks li {
    background-image: url([[pix:mod_workshep|userplan/task-todo]]);
    background-position: top left;
    background-repeat: no-repeat;
    list-style-type: none;
    min-height: 16px;
    margin: .3em 0;
}

.path-mod-workshep .userplan tr.phasetasks li.completed {
    background-image: url([[pix:mod_workshep|userplan/task-done]]);
}

.path-mod-workshep .userplan tr.phasetasks li.fail {
    background-image: url([[pix:mod_workshep|userplan/task-fail]]);
}

.path-mod-workshep .userplan tr.phasetasks li.info {
    background-image: url([[pix:mod_workshep|userplan/task-info]]);
}

.path-mod-workshep .userplan tr.phasetasks .tasks {
    list-style:none;
    margin: 3px;
    padding: 0px;
}

.path-mod-workshep .userplan tr.phasetasks .title {
    padding: 0px 10px 0px 20px;
}

.path-mod-workshep .userplan tr.phasetasks .details {
    padding: 0px 10px 0px 25px;
    font-size: 80%;
}

/**
 * Assessment - full display
 */
.path-mod-workshep .assessment-full {
    border: 1px solid #ddd;
    margin: 0px auto 1em auto;
}

.path-mod-workshep .assessment-full .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 35px;
}

.path-mod-workshep .assessment-full .header .title {
    font-weight: bold;
}

.path-mod-workshep .assessment-full .header .title,
.path-mod-workshep .assessment-full .header .reviewer,
.path-mod-workshep .assessment-full .header .grade,
.path-mod-workshep .assessment-full .header .weight {
    margin: 0px 0px 0px 40px;
}

.path-mod-workshep .assessment-full.anonymous .header .title,
.path-mod-workshep .assessment-full.anonymous .header .reviewer,
.path-mod-workshep .assessment-full.anonymous .header .grade,
.path-mod-workshep .assessment-full.anonymous .header .weight {
    margin: 0px 0px 0px 5px;
}

.path-mod-workshep .assessment-full .header .userdate.created {
    padding-right: 10px;
}

.path-mod-workshep .assessment-full .header .userdate.modified {
    padding-left: 10px;
    margin-left: 0px;
    border-left: 1px solid #000;
}

.path-mod-workshep .assessment-full .header .userdate {
    font-size: x-small;
    color: #333;
    display: inline;
}

.path-mod-workshep .assessment-full .header .userdate span {
    font-style: italic;
}

.path-mod-workshep .assessment-full .header .reviewer .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}

.path-mod-workshep .assessment-full .header .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}

.path-mod-workshep .assessment-full .header .actions .singlebutton,
.path-mod-workshep .assessment-full .header .actions .singlebutton form,
.path-mod-workshep .assessment-full .header .actions .singlebutton form div {
    display: inline;
}

.path-mod-workshep .assessment-full .assessment-form-wrapper,
.path-mod-workshep .assessment-full .overall-feedback-wrapper {
    margin-top: 0.5em;
    padding: 0px 1em;
}

.path-mod-workshep .assessment-summary.graded .singlebutton input[type="submit"],
.path-mod-workshep .example-summary.graded .singlebutton input[type="submit"] {
    background-color: #e7f1c3;
}

.path-mod-workshep .assessment-summary.notgraded .singlebutton input[type="submit"],
.path-mod-workshep .example-summary.notgraded .singlebutton input[type="submit"] {
    background-color: #ffd3d9;
}

/**
 * Overall feedback
 */
.path-mod-workshep .assessment-full .overallfeedback .content,
.path-mod-workshep .assessment-full .overallfeedback .attachments {
    padding: 5px 10px;
}

.path-mod-workshep .assessment-full .overallfeedback .attachments .files img.icon {
    margin-right: 5px;
}

.path-mod-workshep .assessment-full .overallfeedback .attachments .images div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

/**
 * Assessment form
 */
.path-mod-workshep .assessmentform .description {
    margin: 0px 1em;
}

/**
 * Grading report
 */
.path-mod-workshep .grading-report {
    width: 100%;
    margin: 1em auto 1em auto;
    font-size: 80%;
    border: 1px solid #ddd;
}

.path-mod-workshep .grading-report .userpicture {
    margin: 0px 3px;
    vertical-align: middle;
}

.path-mod-workshep .grading-report del {
    color: red;
    font-size: 90%;
    text-decoration: line-through;
}

.path-mod-workshep .grading-report ins {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

.path-mod-workshep .grading-report th {
    white-space: normal;
}

.path-mod-workshep .grading-report td {
    vertical-align: top;
    border: 1px solid #ddd;
}

.path-mod-workshep .grading-report tr.published td.submission {
    background-color: #d2ebff;
}

.path-mod-workshep .grading-report tr.published td.submission a {
    font-weight: bold;
}

.path-mod-workshep .grading-report .assessmentdetails {
    white-space: nowrap;
}

.path-mod-workshep .grading-report .receivedgrade.flagged {
    background-color: #ffb6c4;
}

.path-mod-workshep .grading-report .receivedgrade.flagged.submitter {
    background-color: #FEE1A7;
}

.path-mod-workshep .assessment-full .resolution {
	margin:10px auto;
	width:50%;
	border:1px solid #FEDD1D;
	padding: 10px;
}

.path-mod-workshep .assessment-full .submission-full {
	border: none;
}

.path-mod-workshep .grading-report .receivedgrade span.grade,
.path-mod-workshep .grading-report .givengrade span.gradinggrade {
    font-weight: bold;
}

.path-mod-workshep .grading-report .submissiongrade.cell,
.path-mod-workshep .grading-report .gradinggrade.cell {
    text-align: center;
    font-size: 200%;
    white-space: nowrap;
}

.path-mod-workshep .grading-report.grouped .gradinggrade.cell {
	font-size:150%;
}

.path-mod-workshep .grading-report .givengrade.null .user,
.path-mod-workshep .grading-report .receivedgrade.null .user {
    color: #ee0000;
}

/**
 * Final grades
 */
.path-mod-workshep #workshep-viewlet-yourgrades .finalgrades {
    text-align: center;
}

.path-mod-workshep #workshep-viewlet-yourgrades .finalgrades .grade {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 2em;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.path-mod-workshep #workshep-viewlet-yourgrades .finalgrades .grade.submissiongrade {
    background-color: #d2ebff;
}

.path-mod-workshep #workshep-viewlet-yourgrades .finalgrades .grade.assessmentgrade {
    background-color: #eee;
    /*background-color: #e7f1c3;*/
}

.path-mod-workshep #workshep-viewlet-yourgrades .finalgrades .grade .gradevalue {
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
}

/**
 * Edit assessment form
 */
#mod-workshep-editform fieldset.fgroup * {
    vertical-align: top;
}

/**
 * Feedback
 */
.path-mod-workshep .feedback {
    border: 1px solid #ddd;
    margin: 0px auto 1em auto;
    width: 100%;
}

.path-mod-workshep .feedback .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 35px;
}

.path-mod-workshep .feedback .header .title {
    margin: 0px 0px 0px 40px;
}

.path-mod-workshep .feedback .header .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}

.path-mod-workshep .feedback .content {
    padding: 5px 10px;
}

/**
 * Misc
 */
.path-mod-workshep div.buttonsbar {
    text-align: center;
}

.path-mod-workshep div.buttonsbar .singlebutton {
    display: inline;
}

.path-mod-workshep .toolboxaction {
    margin-right: 1em;
}

.path-mod-workshep .toolboxaction,
.path-mod-workshep .toolboxaction .singlebutton,
.path-mod-workshep .toolboxaction .singlebutton form,
.path-mod-workshep .toolboxaction .singlebutton form div {
    display: inline;
}

.path-mod-workshep div.buttonwithhelp div {
    display: inline;
}

.path-mod-workshep #evaluationmethodchooser {
    margin: 2em auto;
    text-align: center;
}

.path-mod-workshep .workshep-risk-dataloss { vertical-align: text-bottom; }

.path-mod-workshep .no-competent-reviewers {
    border: 1px solid #FD0;
    background-color: #FCFCF0;
    margin:10px 0px;
    padding:10px;
    font-size:1.1em;
    font-weight: bold;
}

.path-mod-workshep .random-examples-helper {
  height: 70px;
  width:80%;
  margin:auto;
  border:1px solid black;
  position: relative;
  background-color:#888;
  background-image:url([[pix:mod_workshep|stripe]]);
  overflow:hidden;
}

.path-mod-workshep .random-examples-helper .slice {
  position:absolute;
  height: 100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  overflow:hidden;
  box-shadow:0 0 5px #333;
}

.path-mod-workshep .random-examples-helper .submission
{
  position: absolute;
  top:50%;
  height:50%;
  width: 0.5%;
  margin-left:-0.25%;
}

.path-mod-workshep .random-examples-helper .mean
{
  position: absolute;
  top:0;
  height:100%;
  width: 1%;
  margin-left:-0.5%;
  border-left:1px solid #777;
  border-right:1px solid #777;
}

.path-mod-workshep .random-examples-info
{
  margin:auto;
  text-align:center;
}

.path-mod-workshep .random-examples-info .info
{
  display:inline-block;
  margin:10px;
}

.path-mod-workshep .random-examples-info h3
{
  text-shadow:0px 1px #333;
}

.path-mod-workshep .inline-block
{
  display:inline-block;
  vertical-align: text-top;
}

.path-mod-workshep table.explanation td,
.path-mod-workshep table.explanation th
{
  border: 1px solid #ccc;
  text-align: center;
}

.path-mod-workshep table.explanation small
{
  color: #887799;
}

.path-mod-workshep table.explanation .subheading
{
  background-color:#eee;
}

.path-mod-workshep table.explanation .big
{
  font-size: 1.5em;
}

.path-mod-workshep table.explanation .bold
{
  font-weight: bold;
  background-color:#EEE;
}

.path-mod-workshep .center
{
  text-align:center;
}

.path-mod-workshep h2.reference-assessment
{
  color: #22DD66;
}

.path-mod-workshep h2.example-assessment
{
  color: #DD6622;
}

.path-mod-workshep #workshep-viewlet-flagging .loading::before {
	content: url([[pix:mod_workshep|loading]]);
}

/* Team Evaluation */

.path-mod-workshep .teamevalreport-feedback-container td.feedback {
    border:none;
    margin:none;
}