<div class="teamevalquestion-comment-question-report-container">
{{#responses}}
<h3>{{{userpic}}} {{fullname}}</h3>
{{#comments}}
<strong>{{from}}:</strong> {{comment}}
{{/comments}}
{{/responses}}
</div>